.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: #fff;
    padding: 90px 50px 96px;
    font-size: 18px;
}

.header_menu {
    width: 392px;
    left: 50px;
}

.header_links_list {
    list-style: circle;
    display: flex;
    gap: 32px;
    justify-self: center;
    flex-direction: row;
    line-height: 21.13px;
    font-weight: 400;
}

.header_links_list_item_no-bullit {
    list-style-type: none;
}

.header_link_active {
    text-decoration: none;
}

.header_logo {
    display: block;
}

.header_logo_image {
    width: 137px;
}

.header_address {
    max-width: 240px;
    justify-self: end;
}

.address_link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.address {
    font-style: normal;
    line-height: 25px;
}

    /* main */
.cover {
    width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    z-index: 0;
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover_title {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 100px;
    gap: 20px;
    padding: 165px 50px 0;
    line-height: 115px;
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 1;
}

.alignet_text {
    text-align: left;
}

.alignet_text_center {
    display: block;
    text-align: center;
    margin-left: 32px;
}

.alignet_text_right {
    display: block;
    text-align: center;
    margin-left: 615px;
}

.description {
    display: flex;
    width: 1100px;
    align-items: center;
    justify-content:space-around;
    margin-top: 106px;
}

.description_text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 19px;
    text-transform: uppercase;
}

.button {
    background-color: transparent;
    color: inherit;
    width: 256px;
    min-height: 51px;
    border: 1px solid #fff;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

    /* БЛОК С ЛОТАМИ*/

.lots {
    min-height: 723px;
    padding: 0 24px;
    margin-bottom: 120px;
}

.lots_heading {
    min-width: 121px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 40px;
    text-transform: uppercase;
    line-height: 46.96px;
}

.lots_card_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 27px;
    list-style: none;
    padding-bottom: 30px;
}

.lots_card_list_item {
    
}

.lots_card_link {
    text-decoration: none;
}


.card {
    width: 334px;
    min-height: 596px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    z-index: 0;
    background-position: center;
    background-size: cover;
}

.card_title {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration: underline solid;
    text-transform: uppercase;
    z-index: 1;
}

.card_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots_look_more_link {
    font-weight: 400;
    font-size: 20px;
    margin-left: 40px;
    line-height: 23.48px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

/* Блок "Об аукционе" */

.about {
    padding: 0 24px;
    width: 1052px;
}

.about_column {
    display: grid;
    grid-template-columns: 359px 1fr;
}

.about_logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-left: 47px;
}

.about_logo_img {
    width: 148px;
}

.about_description {
    padding-top: 140px;
    justify-self: end;
    align-self: end;
    width: 693px;
    text-wrap: balance;
}

.about_title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 46.96px;
    margin-bottom: 100px;    
}


.about_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 24px;
}

/* Подвал*/

.footer {
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
    margin-bottom: 80px;
}

.footer_address {
    max-width: 264.57px;
}

.footer_menu_list {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_menu_link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer_menu_link_active {
    text-decoration: none;
}

.footer_social_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 48px;
}

.footer_social_icon {
    width: 48px;
}