.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: #fff;
    padding: 92px 50px 96px;
    font-size: 18px;
}
.header_link-list {
    list-style: circle;
    display: flex;
    gap: 23px;
    justify-self: center;
    flex-direction: row;
    line-height: 21.13px;
    font-weight: 400;

}
.header_logo {
    width: 148px;
    height: 105px;
    top: 92px;
    left: 478px;
    gap: 0px;
    opacity: 0px;
}
.header__address {
    justify-self: end;
       
}
.nomber {
    text-decoration: none;
    border-bottom: 1px solid #000 ;
}
.mail {
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.cover {
    padding: 165px 50px 207px;
    display: flex;
    flex-direction: column;
    gap: 106px;

}